---
import { getCollection } from 'astro:content';
import ProseLayout from '../../layouts/ProseLayout.astro';
const publishedPosts = await getCollection('blog', ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
});
const pageTitle = "Rosa's Blog";
---
<ProseLayout pageTitle={pageTitle}>
  <h1>Rosa's Blog Posts</h1>

  <ul>
    {publishedPosts.map((post) => <li><a href={`/blog/${post.slug}`}>{post.data.title}</a></li>)}
  </ul>
</ProseLayout>


