---
import { getCollection } from 'astro:content';
import ProseLayout from '../../layouts/ProseLayout.astro';
const publishedPosts = (await getCollection('blog', ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
})).sort(
  (a, b) => a.data.publishDate.valueOf() - b.data.publishDate.valueOf()
);
const pageTitle = "Rosa's Blog";
---
<ProseLayout pageTitle={pageTitle}>
  <h1>Rosa's Blog Posts</h1>

  <ul>
    {publishedPosts.map((post) => <li><a class="link" href={`/blog/${post.slug}`}>{post.data.title}</a></li>)}
  </ul>
</ProseLayout>


