---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import Navigation from '../../components/Navigation.astro';
import BlogPostCard from '../../components/BlogPostCard.astro';

const pageTitle = "Tagged posts";


export async function getStaticPaths() {
  const tags = (await getCollection('blog', ({ data }) => {
    return import.meta.env.PROD ? data.draft !== true : true;
  })).flatMap(({ data }) => {
    return data.tags
  });

  return tags.map(tag => ({
    params: { tag: tag }, props: { tag },
  }));
}

const { tag } = Astro.props;

const taggedPosts = (await getCollection('blog', ({ data }) => {
  const isPublished = import.meta.env.PROD ? data.draft !== true : true;
  const isTagged = data.tags.includes(tag);

  return isPublished && isTagged;
})).sort(
  (a, b) => a.data.publishDate.valueOf() - b.data.publishDate.valueOf()
);
---
<BaseLayout pageTitle={pageTitle}>
  <Navigation />

  <div class="p-4 mt-6 container mx-auto text-justify">
    <h1 class="text-4xl font-bold mb-8"> Posts tagged &ldquo;{tag}&rdquo;</h1>

    <div class="flex flex-col gap-4">
      {taggedPosts.map((post) => <div>
        <BlogPostCard post={post} />
      </div>)}
    </div>
</BaseLayout>
