---
import BaseLayout from '../layouts/BaseLayout.astro';
import Navigation from '../components/Navigation.astro';
---
<BaseLayout pageTitle="About Me">
  <Navigation />

  <article class="px-4 prose prose-slate prose-invert mt-6 mb-16 container mx-auto">
    <h1 class="">About Rosa</h1>

    <p>
      I'm a senior software developer specializing in backend development.
      It's a hobby as well as a job, so I'm always writing silly little tools and libraries just to practice the craft.
      Tooling and developer support really light my fire, so I'll take any chance to refactor systems and tinker with automation if it'll make my coworkers' lives easier.
    </p>
    <p>
      People say that I'm delightful to work with, and this is complemented by my deep technical knowledge.
      I'm passionate about software and that always leads me to the most interesting places.
    </p>
    <p>
      When I'm not developing my backend, I'm watching anime or tinkering with electronics.
    </p>
  </article>

  <footer class="p-4">
    <p class="text-sm text-slate-400 text-center">&copy; 2024 Rosa Richter</p>
  </footer>
</BaseLayout>
