---
import ProseLayout from '../layouts/ProseLayout.astro';
---
<ProseLayout pageTitle="Contact Rosa">
  <h1>Contact Rosa</h1>

  <ul>
    <li><a href="https://matrix.to/#/@cosmicrose:matrix.org">@cosmicrose:matrix.org</a> on Matrix</li>
    <li><a href="https://discordapp.com/users/224950023081689088">cosmicrosa</a> on Discord</li>
  </ul>
</ProseLayout>
