---
import { Image } from 'astro:assets';
import rosaImage from '../images/rosa.jpg';
import BaseLayout from '../layouts/BaseLayout.astro';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
const pageTitle = "Rosa Richter";
---
<BaseLayout pageTitle={pageTitle}>
  <Navigation />

  <article class="container mx-auto grid md:grid-cols-2 p-8">
    <Image src={rosaImage} alt="Rosa" class="mb-2" />

    <div>
      <hgroup class="px-4 mb-4 md:col-start-2">
        <h1 class="text-xl font-bold">Rosa Richter</h1>
        <p class="text-slate-400">software developer &middot; she/her</p>
      </hgroup>

      <p class="px-4 mb-12 max-w-prose">
      Hey look, buddy, I'm an engineer. That means I solve problems.
      Not problems like "what is beauty," because that would fall within the purview of your conundrums of philosophy.
      I solve practical problems.
      </p>

      <div class="grid grid-cols-2 gap-4 px-4 mb-16">
        <a class="p-4 bg-slate-600 text-center rounded font-bold" href="https://github.com/Cantido">See my code</a>
        <a class="p-4 border border-slate-600 text-center rounded font-bold" href="/blog">Read my blog</a>
      </div>
    </div>

    <footer class="p-4 md:col-span-2 mt-12">
      <p class="text-sm text-slate-400 text-center">&copy; 2024 Rosa Richter</p>
    </footer>
  </article>
</BaseLayout>

