---
---
<nav id="main-nav" class="bg-slate-700 group" aria-expanded="false">
  <div class="grid grid-cols-2 aria-expanded:grid-rows-4 grid-rows-1 container mx-auto">
    <a href="/" class="font-bold p-4 row-start-1 row-span-1 col-span-1">cosmicrose.dev</a>

    <div id="nav-toggle" class="justify-self-end p-4 row-span-1 md:hidden">
      <div class="group-aria-expanded:block hidden w-6">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M10.5859 12L2.79297 4.20706L4.20718 2.79285L12.0001 10.5857L19.793 2.79285L21.2072 4.20706L13.4143 12L21.2072 19.7928L19.793 21.2071L12.0001 13.4142L4.20718 21.2071L2.79297 19.7928L10.5859 12Z"></path></svg>
      </div>
      <div class="group-aria-expanded:hidden block w-6">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M3 4H21V6H3V4ZM3 11H21V13H3V11ZM3 18H21V20H3V18Z"></path></svg>
      </div>
    </div>

    <ul class="group-aria-expanded:block md:inline-block md:col-start-2 md:justify-self-end hidden md:border-none border-t border-1 border-slate-500 row-span-3 col-span-2">
      <a href="/about" class="block md:inline-block p-4 md:border-none border-b border-1 border-slate-500">About</a>
      <a href="/contact" class="block md:inline-block p-4 md:border-none border-b border-1 border-slate-500">Contact</a>
      <a href="/blog" class="block md:inline-block md:border-none p-4">Blog</a>
    </ul>
  </div>
</nav>

<script>
  const navtoggle = document.getElementById('nav-toggle');

  navtoggle.addEventListener('click', () => {
    const nav = document.getElementById('main-nav');
    const expanded = nav.getAttribute('aria-expanded');

    if (expanded === "true") {
      nav.setAttribute('aria-expanded', 'false');
    } else {
      nav.setAttribute('aria-expanded', 'true');
    }
  });
</script>

