---
---
<nav class="p-4 flex justify-between">
  <a href="/" class="font-bold">cosmicrose.dev</a>
  <ul class="">
    <a href="/about/">About</a>
    &middot;
    <a href="/blog/">Blog</a>
  </ul>
</nav>
