---
import { Image } from 'astro:assets';
import rssImage from '../images/rss-icon.png';
---
<nav id="main-nav" class="navbar bg-neutral group" aria-expanded="false">
  <div class="flex-1">
    <a href="/" class="btn btn-ghost text-xl">cosmicrose.dev</a>
  </div>

  <div class="flex-none">
    <ul class="menu menu-horizontal">
      <li><a href="/rosa" class="">About</a></li>
      <li><a href="/contact" class="">Contact</a></li>
      <li><a href="/blog" class="">Blog</a></li>
      <li><a href="/rss.xml"><Image src={rssImage} alt="Subscribe to my blog" height="24" ></a></li>
    </ul>
  </div>
</nav>
