---
---
<nav id="main-nav" class="navbar bg-neutral group" aria-expanded="false">
  <div class="flex-1">
    <a href="/" class="btn btn-ghost text-xl">cosmicrose.dev</a>
  </div>

  <div class="flex-none">
    <ul class="menu menu-horizontal">
      <li><a href="/contact" class="">Contact</a></li>
      <li><a href="/blog" class="">Blog</a></li>
    </ul>
  </div>
</nav>
