---
import '../styles/global.css';
const { pageTitle } = Astro.props;
---

<html lang="en" class="h-full w-full" data-theme="night">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="me" href="https://tech.lgbt/@cosmicrose" />

    <meta name="description" content="Rosa's Website">

    <meta property="og:url" content="https://cosmicrose.dev/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Rosa Richter">
    <meta property="og:description" content="I solve practical problems.">
    <meta property="og:image" content={new URL("/images/rosa.png", Astro.site)}>

    <meta name="twitter:card" content="summary">
    <meta property="twitter:domain" content="cosmicrose.dev">
    <meta property="twitter:url" content="https://cosmicrose.dev/">
    <meta name="twitter:title" content="Rosa Richter">
    <meta name="twitter:description" content="I solve practical problems.">
    <meta name="twitter:image" content={new URL("/images/rosa.png", Astro.site)}>

		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <script data-goatcounter="https://cosmicrose.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
		<title>{pageTitle}</title>
    <link rel="alternate" type="application/rss+xml"
      title="RSS Feed for cosmicrose.dev"
      href="/rss.xml/" />
	</head>
  <body class="h-full w-full">
    <slot />
	</body>
</html>
