---
import '../styles/global.css';
const { pageTitle } = Astro.props;
---

<html lang="en" class="h-full w-full" data-theme="night">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="me" href="https://tech.lgbt/@cosmicrose" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <script data-goatcounter="https://cosmicrose.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
		<title>{pageTitle}</title>
    <link rel="alternate" type="application/rss+xml"
      title="RSS Feed for cosmicrose.dev"
      href="/rss.xml/" />
	</head>
  <body class="h-full w-full">
    <slot />
	</body>
</html>
